{% extends "Dashboard/index.html" %}
 
{% block style %}
<style>
.standard-list-container{
margin-left:210px;
}

{% comment %} Work pendin Dhrumil Khradi {% endcomment %}
</style>
{% endblock style %}





{% block content %}
<div class='standard-list-container'>

<p class=''> This is standards list data page !!!</p>

<a href="{% url 'standard_create'%}">Add_Standards</a>
<hr>
<a href="{% url 'class_create'%}">Add_Class_To_particular_standard</a>
<hr>
<a href="{% url 'school_create'%}">Add_School</a>
<hr>
<a href="{% url 'subject_create'%}">Add_Subject</a>
</div>

{% endblock content %}





