{% extends "Dashboard/index.html" %}

{% block style %}
<style>
.add_marks_form{
    margin-left:230px;

}
</style>
{% endblock style %}



{% block content %}
<div class="add_marks_form">
    <h2>Add Marks for {{ student.name }}</h2>
    <form method="post">
  {% csrf_token %}
  <label>Subject:</label>
  <select name="subject">
    {% for subject in subjects %}
      <option value="{{ subject.id }}">{{ subject.name }}</option>
    {% endfor %}
  </select><br><br>

  {{ form.pat_score.label_tag }} {{ form.pat_score }}<br><br>
  {{ form.sat_score.label_tag }} {{ form.sat_score }}<br><br>
  {{ form.marks_obtained.label_tag }} {{ form.marks_obtained }}<br><br>

  <button type="submit">Save Marks</button>
</form>
    
</div>
{% endblock content %}