{% extends "Dashboard/index.html" %}

{% block title %}
Class Creation Form
{% endblock title %}

{% block style %}
<style>

    .class_create_form{
        margin-left:210px;
    }
        {% comment %} Work pending dhrumil kharadi {% endcomment %}
</style>
{% endblock style %}

{% block content %}
<div class="class_create_form">
    <form method="POST" action="">
        {% csrf_token %}
       
        {{form.as_p}}

        <button type="submit">Submit</button>
    </form>
</div>
{% endblock content %}

{% block script %}
{% endblock script %}
