{% extends "Dashboard/index.html" %}

{% block title %}
Students-list-{{ block.super }}
{% endblock title %}

{% block style %}
{% include "base/css.html" %}
<style>
.side-23
{
    margin-left: 200px;
}

.chat-header {
    background: linear-gradient(90deg, #0047B2, #286bcf, #5e8acc);
    color: white;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 1.8em;
    position: fixed;
    width: 90%;
    z-index: 1000;
    box-shadow:0px 5px 15px 2px rgb(255, 255, 255),
               0px 10px 30px 5px rgba(255, 255, 255, 0.815),
               0px 15px 45px 10px rgba(255, 255, 255, 0.733),
               0px 20px 60px 15px rgba(255, 255, 255, 0);
    clip-path: inset(0 0 -60px 0);
}                           


.chat-header-fake {
    color: white;
    padding: 15px;
    text-align: center;
    /* box-shadow: 0 0 60px 5px rgba(0,0,0,0.1); */
    font-weight: bold;
    font-size: 1.8em;
    width: 100%;
    height: 74px;
}

.animated-nav{
    width: 100%;
    overflow-x: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #dddddd2d;
}

.nav-studentbar1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    animation: in-out 2s ease forwards;
}

.student-section {
    margin-top: 1.8em;
    width: 90%;
    margin: 0 auto;
    background-color: black;
    border-radius: 0%;
}

.student-create-btn {
    text-align: center;
    color: blue;
    margin-bottom: 20px;
}

.student-search {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding: 7px;
    padding-left: 10px;
    width: 500px;
    border: rgba(255, 255, 255, 0);
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    height: 40px;
    margin-top: 15px;
    margin-left: 10px;
}

@keyframes in-out{
    from{
        opacity: 0;
        transform:translateX(-500px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.student-search input {
    padding: 7px;
    padding-left: 10px;
    border:rgba(255, 255, 255, 0); 
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.2); 
    height: 20px;
    /* box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1) ; */
    /* box-shadow: 
        inset 5px -10px 15px rgba(255, 255, 255, 0.5), 
        inset -5px 10px 15px rgba(0, 0, 0, 0.2), 
         0px 4px 10px rgba(0, 0, 0, 0.1); 
     transition: all 0.6s ease-in-out; */
} 


/* .student-search input:hover {
    box-shadow: 
        inset 8px -15px 20px rgba(255, 255, 255, 0.6),
        inset -8px 15px 20px rgba(0, 0, 0, 0.3),
        0px 6px 15px rgba(0, 0, 0, 0.15);
    background: rgba(255, 255, 255, 0.3);
} */

#search-bar {
  padding: 8px 12px;
  border-radius: 4px;
  transition: none; 
  margin-top: 10px;
}

#search-bar:focus {
  outline: none;
  border-color: #ccc;
  box-shadow: none;
}


.styled-line {
    border: 1px solid #d8d8d8;
    width: 100%;             
    margin-bottom: 30px;
}    


.student-data {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.student-table-container {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #dddddd2d;
    
}

@keyframes Right-left{
    from{
        opacity: 0;
        transform: translateX(500px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.student-main-table {
    width: 100%;
    border-collapse: separate; 
    border-spacing: 0; 
    border-radius: 10px;
    overflow: hidden;
    animation: Right-left 2s ease forwards;
}

.student-main-table th, .student-main-table td {
    border: 1px solid #dddddda6;
    padding: 8px;
    text-align: left;
    white-space: nowrap;
}

.student-main-table th {
    /* background-color: #0047b2ec;
    font-weight: bold; */
    color: #fff;
    
}

.btn-student-data button {
    border:rgba(0, 0, 0, 0);
    border-radius: 15px;
    color: #001570;
    background:#e9e9e9;
    font-weight:lighter;
    padding: 11px 20px 11px 20px;
    margin: 10px;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.15);
}

.btn-student-data button:hover {
    color: rgb(255, 255, 255);
    background: #0047B2;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.btn-student-data button:not(:hover) {
    transition: all ease-in-out 0.3s; 
}


.burrbutton {
    opacity: 0;
    transform: scale(0);
    transition: all 1s ease-out;
    margin-bottom: 20px;
}

.burrbutton.animate {
    opacity: 1;
    transform: scale(1);
}

.btn-student-data-1 button {
    border:rgba(0, 0, 0, 0);
    border-radius: 15px;
    color: #001570;
    background:#e9e9e9;
    font-weight:lighter;
    padding: 11px 20px 11px 20px;
    margin: 10px;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.15);
}

/* @keyframes button-fast{
    from{
        opacity: 0;
        transform: scale(0.5);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
} */

.burrbutton1 {
    opacity: 0;
    transform: scale(0.5);
    transition: all 1s ease-in;
    margin-bottom: 30px;
}

.burrbutton1.animate {
    opacity: 1;
    transform: scale(1);
}

.btn-student-data-1 button:hover {
    color: rgb(255, 255, 255);
    background: #0047B2;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.btn-student-data-1 button:not(:hover) {
    transition: all ease-in-out 0.3s; 
}


.burrbutton {
    opacity: 0;
    transform: scale(0);
    transition: all 1s ease-out;
    margin-bottom: 20px;
}

.burrbutton.animate {
    opacity: 1;
    transform: scale(1);
}

.btn-student-data-1 button {
    border:rgba(0, 0, 0, 0);
    border-radius: 15px;
    color: #001570;
    background:#e9e9e9;
    font-weight:lighter;
    padding: 11px 20px 11px 20px;
    margin: 10px;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.15);
}

/* @keyframes button-fast{
    from{
        opacity: 0;
        transform: scale(0.5);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
} */

.burrbutton1 {
    opacity: 0;
    transform: scale(0.5);
    transition: all 1s ease-in;
    margin-bottom: 30px;
}

.burrbutton1.animate {
    opacity: 1;
    transform: scale(1);
}

.btn-student-data-1 button:hover {
    color: rgb(255, 255, 255);
    background: #0047B2;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.btn-student-data-1 button:not(:hover) {
    transition: all ease-in-out 0.3s;
}

.student-main-table th, .student-main-table td {
    padding: 10px 8px 10px 8px;
    text-align: left;
    white-space: nowrap;
    border-left: none;
    border-right: none;
    border-top: 1px solid #ddd;
}

.student-main-table tr {
    border-bottom: 1px solid #ddd; 
}

.student-main-table tr:last-child td {
    border-bottom: 2px solid #ddddddd8; 
}



@media screen and (max-width: 768px) {
    .student-data {
        margin-left: 0;
        padding: 10px;
    }
    .student-main-table th, .student-main-table td {
        padding: 5px;
    }
    .btn-student-data button {
        padding: 8px;
        font-size: 14px;
    }
    .student-search input {
        width: 80%;
    }
}

.search-student-form{
    width:59%; 
    /* #percentage for dhrumil and aniket - 69 */
}

.back-to-list-btn{
    margin:0px 5px;
    background-color:red;
    cursor:pointer;
    padding:10px;
    color:white;
    border-radius:5px;
    font-weight:bolder;
    box-shadow: 2px 2px 2px rgb(41, 41, 41);
}

.search-to-specific-student{
    background-color:rgb(61, 219, 21);
    cursor:pointer;
    padding:10px;
    color:white;
    border-radius:5px;
    font-weight:bolder;
    box-shadow: 2px 2px 2px rgb(41, 41, 41);
}

.search-student-form-1
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 0 solid;
}

.after_part_of_search
{
    padding: 8px 12px;
}

.after_part_of_search hr
{
    width: 24px;
    transform: rotate(90deg);
    transform-origin: left;
    color: #0047B2;
    position: relative;
    z-index: 1;
}

.after_part_of_search button
{
    margin-left: 11px;
    color: #0047b2a1;
    cursor: pointer;
}

.burrbutton1 form {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    max-width: 600px;
    margin: 30px auto;
    animation: Right-left 1.5s ease forwards;
}

.burrbutton1 form p {
    font-size: 0.95rem;
    color: #000000de;
    margin-bottom: 10px;
    line-height: 1.5;
    font-weight: 400;
}

.burrbutton1 form input[type="file"] {
    display: block;
    width: 100%;
    margin: 15px 0;
    padding: 10px;
    background-color: #f0f4ff;
    border: 1px solid #c0cbe0;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: border 0.3s ease;
}


.burrbutton1 form button[type="submit"] {
    border:rgba(0, 0, 0, 0);
    border-radius: 15px;
    color: #001570;
    background:#e9e9e9;
    font-weight:lighter;
    padding: 11px 20px 11px 20px;/* Order: TOP RIGHT BOTTOM LEFT */
    margin: 10px;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.15);
}

.burrbutton1 form button[type="submit"]:hover {
    color: rgb(255, 255, 255);
    background: #0047B2;
    transform: scale(1.05); /* Slight zoom effect */
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.burrbutton1 form button[type="submit"]:not(:hover)
{
    transition: all ease-in-out 0.3s;
}


input[type="file"] {
    display: none;
}

/* Custom file input styling */
.custom-file-upload {
    display: inline-block;
    background-color: #0047b200; /* Your blue color */
    color: #0047b2e5;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    border: none; /* Remove any default border */
    width: 78%;
}


/* Hide the actual file input */
input[type="file"] {
    display: none;
}

/* Style for the file name display */
#file-name {
    margin-left: 15px;
    font-size: 0.95rem;
    color: #000000;
}

/* Reset browser default button styles */
input[type="button"], 
input[type="submit"], 
input[type="reset"] {
    background-color: #0047B2;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}



.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select some files';
  display: inline-block;
  background: linear-gradient(top,rgb(255, 255, 255),rgb(255, 255, 255));
  border: 1px solid #99999900;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: rgba(255, 255, 255, 0);
}
.custom-file-input:active::before {
  background:rgba(255, 255, 255, 0);
}

</style>
{% endblock style %}

{% block content %}


<div class="side-23">
    <div class="chat-header">
        <h2>Student Data</h2>
    </div>

    <div class="chat-header-fake">
    </div>

    <div class="student-data">
    <div class="animated-nav">
        <div class="nav-studentbar1">
            
        <div class="student-search">
            <form class="search-student-form-1 ">
            
                <div class="secondpart">
                    <input type="text" name="q" id="search-bar" placeholder="Search students...">
                </div>
            
                <div class="after_part_of_search">

                <button type='submit' style="border: 0 solid;" >
                    <hr>
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
            
        </form>
        </div>
        
        <div class="student-create-btn">
            <a class="btn-student-data" href="{% url 'student_data'%}"><button>Back to all</button></a>
            <a class="btn-student-data" href={% url 'create_student' %}><button>Add Student</button></a>
        </div> 
    </div>
</div>
    


<hr class="styled-line">
    
    <div class="student-table-container">
        <table class="student-main-table">
            <thead style="background: linear-gradient(90deg,#0047B2,#286bcf,#5e8acc); font-weight: bold;">
                <tr>
                    <th>Student Name</th>
                    <th>Gender</th>
                    <th>E-mail</th>
                    <th>Avg PAT Score</th>
                    <th>Avg SAT Score</th>
                    <th>Attendance</th>
                    <th>Standard</th>
                    <th>Performance</th>
                    <th>Add Marks</th>
                    <th>Delete</th>
                    <th>Give Suggestion</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ student.name }}</td>
                    <td>{{ student.gender }}</td>
                    <td>{{ student.email}}</td>
                    <td>{{ student.avg_pat_score }}</td>
                    <td>{{ student.avg_sat_score }}</td>
                    <td>{{ student.attendance }}</td>
                    <td> {{student.standard.name}}</td>
                    <td>{% if student.performance_summary %}{{ student.performance_summary }}{% else %}Not Predicted{% endif %}</td>
                    <td >{% if is_teacher %}
                        <a href="{% url 'add_marks' student.student_id%}" style="color: #0047B2;"onmouseover="this.style.color='#001570';" onmouseout="this.style.color='#0047B2';">Add Marks</a> /
                        <a href="{% url 'edit_marks' student.pk%}" style="color: #0047B2;"onmouseover="this.style.color='#001570';" onmouseout="this.style.color='#0047B2';">Edit Marks</a>
                        
                        {% else %} 
                        not editable
                        {% endif %}
                    </td>
                    <td >
                        <a href="{% url 'student_delete' student.student_id%}" style="color: #0047B2;" onmouseover="this.style.color='#001570';" onmouseout="this.style.color='#0047B2';">Delete</a>
                    </td>
                    <td >
                        <a href="{% url 'personalize_suggestion' student.student_id%}" style="color: #0047B2;" onmouseover="this.style.color='#001570';" onmouseout="this.style.color='#0047B2';">Give Suggestion  </a>
                    </td>
                
                
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

        <div class="burrbutton">
            <a class="btn-student-data-1" href={% url 'export_students_csv' %}><button style="margin-top: 23px">Download CSV</button></a>
        </div>

        <div class="burrbutton1">
            <form method="post" enctype="multipart/form-data" action="{% url 'upload_file_student_data' %}">
                {% csrf_token %}
                <p>Note: follow the column pattern otherwise data will not be upload Required fields:[name,email,gender,attendance] or you can(optional) [name,email,gender,attendance,avg_pat,avg_sat]</p>
                <p>otherwise you need to add marks manually for each student to get performance</p>
                
                <label class="custom-file-upload">
                    <input class="custom-file-input" type="file">
                </label>
            
                <button type="submit">Upload</button>
            </form>
            
        </div>
        
        
        
    </div>
  
   
</div>

<script>


const burrButtons = document.querySelectorAll('.burrbutton');
const burrButtons1 = document.querySelectorAll('.burrbutton1');

const observer = new IntersectionObserver((entries) => {
  entries.forEach(entry => {
    if (entry.isIntersecting) {
      entry.target.classList.add('animate');

      setTimeout(() => {
        burrButtons1.forEach((button, index) => {
          setTimeout(() => {
            button.classList.add('animate');
          }, index * 300);
        });
      }, 500);

      observer.unobserve(entry.target);
    }
  });
}, { threshold: 0.1 });

burrButtons.forEach(button => observer.observe(button));


    const fileInput = document.querySelector('input[type="file"]');
    const fileNameDisplay = document.getElementById('file-name');

    fileInput.addEventListener('change', function () {
        if (this.files.length > 0) {
            fileNameDisplay.textContent = this.files[0].name;
        } else {
            fileNameDisplay.textContent = "No file Choose";
        }
    });
</script>


{% endblock content %}

{% block script %}
{% include "base/js.html" %}
{% endblock script %}