{% extends "Dashboard/index.html" %}
 {% block title %} Student-Deletion Form 
 {%endblock title %} {% block style %} 
 <style>
.teacher_delete{
  margin-left:210px;
}
 </style>
 {% endblock style %} 
 {% block content %}
<div class="teacher_delete">
  <form method="POST" action="">
    {% csrf_token %}
    <p>Are You sure you want to delete "{{teacher}}"?</p>
    <a href="{{request.META.HTTP_REFERER}}">Go Back</a>
    <button type="submit">Delete_teacher</button>
  </form>
</div>

{% endblock content %} 
