{% extends "Dashboard/index.html" %}

{% block title %}
chat-messages
{% endblock title %}

{% block style %}
<style>

    .create-room{
        margin-left:210px;
    }

    .message_container{
        margin-left:210px;
    }
    
    .rooms{
        margin-left:210px;

    }

    .messages
    {
        padding:10px;
        box-shadow: -2px 2px 2px;
        background-color: beige;
        color:black;
        font-size:15px;
        border:1px solid black;
        border-radius:8px;
        margin-bottom:15px;
    }

    #message_input{
        padding:10px 0px;
        width:100vw;
        border-radius:5px;
        border:none;
        box-shadow: -1px 1px 20px 0px #5b5d5b;
        text-align:center;
    }

    .participants_contianer{
        margin-bottom:10px;
        background-color:green;
        color:white;
        font-weight:bolder;
        border-radius:5px;
    }

    .btn-message{
        margin:25px 0px;
        padding:7px;
        border-radius:4px;
        border:none;
        background-color:blue;
        color:white;
        font-weight:bolder;
        cursor:pointer;
    }

        {% comment %} Work pending dhrumil kharadi {% endcomment %}
</style>
{% endblock style %}

{% block content %}
<div class="create-room">
    <h1>Create New Room</h1>
    <form method="POST" action="">
        {% csrf_token%}
        {{form.as_p}}
        <button type='submit'>Submit </button>
    </form>
</div>

<div class="rooms">
    <h1>Rooms list here</h1> 
    <div>
    {% for room in rooms %}
        <p><a href="{% url 'chat' room.id%}">{{room.name}}</a></p>
        <button type='submit'>Chat</button>
    {% endfor %}
    <hr>
    </div>
</div>


{% endblock content %}

{% block script %}
{% endblock script %}
