{% extends "Dashboard/index.html" %}

{% block title %}
chat-messages
{% endblock title %}

{% block style %}
<style>

    .message_container{
        margin-left:10.4%;
    }
    
    .chat-header 
    {
    background: linear-gradient(90deg,#0047B2,#286bcf,#5e8acc);
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 1.2em;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    .secondpart
    {
        padding: 20px;
    }

    .messages
    {
        padding:10px;
        background-color: rgb(255, 255, 255);
        color:black;
        font-size:15px;
        border:1px solid rgb(255, 255, 255);
        box-shadow: -1px 1px 20px 0px #5b5d5b63;
        border-radius:8px;
        margin-bottom:15px;
    }

    #message_input{
        padding:10px;
        width:85%;
        border-radius:15px;
        border:none;
        box-shadow: -1px 1px 20px 0px #5b5d5b63;
        height: fit-content;
    }

    .participants_contianer{
        background-color:#0047b2ec;
        color:white;
        font-weight:bolder;
        border-radius: 15px;
        padding: 18px;
        margin-bottom: 25px;
    }

    .participants_contianer h3
    {
        padding-bottom: 3px ;
    }

    .participants_contianer p
    {
        color: #dfdfdfde;
        padding-bottom: 1px;
    }

    .btn-message{
        background-color: #0047B2;
        color: white;
        border: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease;
    }

    form
    {
        display: flex;
        justify-content: space-between;
    }

    .message-form-container
    {
        margin-top: 30px;
    }

        /* {% comment %} Work pending dhrumil kharadi {% endcomment %} */
</style>
{% endblock style %}

{% block content %}


<div class="message_container">
    <div class="chat-header">
        <h2>Chat-Box</h2>
    </div>
    
    <div class="secondpart">
        <div class="participants_contianer">
        <h3>This shows how many people participated in this chat</h3>
        {% for user in room_participants %}
        
        <p>{{user}}</p>
        
        {% endfor %}

    </div>
    <div class='messages'>
        
        {% for message in messages  %}
        <!-- <small>{{role}} {{message.user}} {{message.created | timesince }} ago </small> -->
        <small>{{message.user}} {{message.created | timesince }} ago </small>
        <a href="#">Edit</a>
        <a href="#">Delete</a>
        <p>{{message.body}} </p>
        <hr>
        {% endfor %}
    </div>

    <div class="message-form-container">
        <form method="POST" action="">
            {% csrf_token %}
            <input id='message_input' type='text' name='body' placeholder='Enter your message here' />
            <button class='btn-message'>
                <i class="fas fa-paper-plane"></i>
            </button>
        </form>

    </div>
    </div>
</div>
{% endblock content %}

{% block script %}
{% endblock script %}
