<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}EduTrack{% endblock title %}</title>
    {% block style %}{% endblock style %}
    {% comment %} {% include "base/css.html" %} {% endcomment %}
  </head>
  <body>
        {% comment %} {% include "Dashboard copy/index.html" %} {% endcomment %}
    
    

        {% block content %} 
        {% endblock content %}
        {% comment %} {% include "base/js.html" %} {% endcomment %}
        {% block script %}
        
        {% endblock script %}
     
  </body>